@keyframes slideIn {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
.modal-animate { animation: slideIn 0.5s cubic-bezier(0.16, 1, 0.3, 1); }

.answer-btn {
    transition: all 0.2s ease;
    border: 2px solid #f1f5f9; 
}
.answer-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05);
    border-color: #cbd5e1;
}


.theme-web { background: linear-gradient(135deg, #f97316, #ea580c); } 
.theme-cpp { background: linear-gradient(135deg, #2563eb, #1e40af); } 
.theme-java { background: linear-gradient(135deg, #ef4444, #b91c1c); } 


@keyframes pulseSuccess {
    0% { box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4); }
    70% { box-shadow: 0 0 0 15px rgba(16, 185, 129, 0); }
    100% { box-shadow: 0 0 0 0 rgba(16, 185, 129, 0); }
}
.correct-anim {
    background-color: #ecfdf5 !important;
    border-color: #10b981 !important;
    color: #047857 !important;
    font-weight: 700;
    animation: pulseSuccess 0.6s;
}


@keyframes shakeError {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}
.wrong-anim {
    background-color: #fef2f2 !important;
    border-color: #ef4444 !important;
    color: #b91c1c !important;
    font-weight: 700;
    animation: shakeError 0.4s;
}

@keyframes criticalFlash {
    0% { box-shadow: 0 0 0 0 rgba(239, 68, 68, 0); border-color: #f1f5f9; }
    50% { box-shadow: 0 0 20px 5px rgba(239, 68, 68, 0.5); border-color: #ef4444; }
    100% { box-shadow: 0 0 0 0 rgba(239, 68, 68, 0); border-color: #f1f5f9; }
}

.critical-alert {
    animation: criticalFlash 0.8s infinite;
    border: 4px solid #ef4444 !important; 
    transition: all 0.3s;
}


@keyframes zoomFade {
    0% { opacity: 0; transform: scale(0.5); }
    50% { opacity: 1; transform: scale(1.2); }
    100% { opacity: 0; transform: scale(2); }
}

.anim-ready-go {
    animation: zoomFade 1s ease-in-out forwards;
}


.text-ready { color: #f59e0b;  }
.text-go { color: #16a34a; }


::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #94a3b8; }

.mobile-nav-link:hover {
    background-color: #eff6ff;
    padding-left: 1rem;
    transition: all 0.2s;
}